#title
{
  background-color: #4a304d;
  color:white;

}
/* Feature Section */
#features
{
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
   z-index: 1; /*This statement is not necessary, if we have relative positioning and have placed the two sections one down the other. Ref: Intermediate bootstrap z-index. */
}
.tagline
{
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 1.5;
  margin:10px 0 0 0;
  /* font-weight: bold; */


}
#testimonials
{

  text-align: center;
  background-color: #7a4579;
  color:#fff;
}
#press
{
  background-color: #7a4579;
  text-align: center;
  padding-bottom: 5%;

}
#pricing
{
  padding: 100px;
  text-align: center;
  margin-right: 100px;
}
#cta
{
  background-color:#4a304d;
  text-align: center;
  margin: auto;
  padding-bottom: 7%;
  padding-left: 7%;
  padding-right: 7%;
  width: auto;
  /* padding-top: 7%; */
  color: white;

}
.cta-heading
{
  font-family:"Montserrat";
  /* font-weight: 0.2rem; */
  font-size: 22px;
  line-height: 2;
  margin-right: auto;
  text-align: center;
}
.about-head
{

}
#footer
{
  text-align: center;
  padding: 7% 10%;
  color:black;
}
.pricing-column
{
  padding: 5% 3%;
}
.conatiner-fluid
{
  padding: 3% 15% 7%;
}
/* Navigation Bar */
.nbrand
{
  font-size:22px;
  font-family:"Ubuntu";
  font-weight:bold;
  font-color:#ffff;
}
.carousel-item
{
    padding: 7% 15%;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.75rem;
  font-weight: bold;
}

.nav-item
{
  padding: 0 18px;
}
.nav-link
{
  font-family: "Montserrat-light";
  font-size: 1.3rem;
  padding-bottom: 7%;

}
.icon-beg
{
  color:#7a4579;
  margin-bottom: 1rem;
}
.icon-beg:hover{
  color:#4a304d;
}
.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}
body
{
  font-family:"Montserrat";
}
/* Download Button */
.download-button
{
  margin: 5% 3% 5% 0;
}
/* Title Image */
.title-image
{
  width: 85%;
  transform: rotate(5deg);
  position: absolute;
  right: 10%;
  border-radius: 20%;
  /* z-index: -1; */
}
.feature-box
{
  text-align: center;
  padding:5%;
}
.testimonial-img
{
  width:14%;
  border-radius: 100px;
  margin: 25px;
}
.icons-end
{
  margin: 20px 10px;
}
h2
{
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.2;
}
h3
{
  font-family:"Montserrat-bold";
  font-weight: bold;
}
@media (max-width:992px)
{
  .title-image{
    position: static;
    transform: rotate(0);

  }
  #title
  {
    text-align: center;
  }



}
.footer-button-1
{
  color:black;
}
.footer-button-2
{
  color:black;
}
.footer-button-3
{
  color:black;
}
.testimonial-text
{
  font-size: 22px;
}
.unnmesh
{
  width:15%;
  border-radius: 100px;
  margin: 25px;
}
.about-head
{
  line-height: 2;

}
